.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-container {
  margin: 20px;
  overflow: hidden;
  flex-grow: 1;
}

.select-container {
  margin: 20px;
}

#map {
  height: 100%;
  width: 100%;
}

.selector {
  display: flex;
  direction: row;
  justify-content: center;
}

.year-label {
  width: 80px;
  text-align: center;
}

.player-node {
  width: 25px;
  height: 25px;
  background-color: red;
  position: absolute;
}

.st0{
  fill:#D3D3D3;
}
