.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title-header {
  font-size: 30px;
  padding-top: 20px;
  font-weight: 500;
}

.title-subheader {
  padding-top: 8px;
  padding-bottom: 5px;
  font-size: 12px;
}

.map-container {
  margin: 20px;
  overflow: hidden;
  flex-grow: 1;
}

.select-container {
  margin: 20px;
}

.selector {
  display: flex;
  direction: row;
  justify-content: center;
}

.selector-btn {
  cursor: pointer;
  width: 35px;
  height: 30px;
  line-height: 100%;
  transition: all 0.3s;
}

.selector-btn-right:hover {
  transform: translateX(4px);
  opacity: 0.2;
}

.selector-btn-left:hover {
  transform: translateX(-4px);
  opacity: 0.2;
}

.selector-btn-img {
  width: 100%;
  height: 100%;
}

.year-label {
  width: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 22px;
}

.node {
  margin-left: -25px;
  /* box-shadow: 0px 0px 5px grey; */
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s, height 0.5s, margin-left 0.5s, margin-top 0.5s, transform 4s;
}

.node-style {
  width: 50px;
  height: 50px;
  border-radius: 25%;
  border-color: darkgray;
  border-width: 3px;
  border-style: solid;
  background-color: white;
  transition: all 0.5s;
}

.node:hover .node-style, .node.active .node-style {
  transform: scale(1.7,1.7);
}

.node:hover, .node.active {
  z-index: 999 !important;
}

.node-img-crop {
  width: 100%;
  height: 100%;
  border-radius: 22%;
  overflow: hidden;
  position: relative;
}

.node:hover .node-bottomlabel, .node.active .node-bottomlabel {
  opacity: 1 !important;
  transform: translate(-50%, 79px);
}

.node:hover .node-toplabel, .node.active .node-toplabel {
  transform: translate(-50%, -39px);
}

.node-img-team {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.node-img-player {
  width: 100%;
}

.node-toplabel {
  white-space: nowrap;
  position: absolute;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  background-color: darkgray;
  color: white;
  font-weight: 500;
  border-radius: 2px;
  padding: 4px 3px 1px 3px;

  left: 50%;
  transform: translate(-50%, -20px);

  transition: opacity 0.3s, transform 0.5s;
}

.node-bottomlabel {
  position: absolute;
  text-align: center;
  font-size: 16px;
  pointer-events: none;
  background-color: #3895D3;
  border-radius: 2px;
  color: white;
  font-weight: 500;
  padding: 5px;
  padding: 8px 6px 5px 6px;
  opacity: 0;

  left: 50%;
  transform: translate(-50%, 60px);

  transition: opacity 0.3s, transform 0.5s;
}

/* React Transition Group classes */

.node-enter {
  opacity: 0;
}
.node-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.node-exit {
  opacity: 1;
}
.node-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.st0{
  fill:#D3D3D3;
}
